openapi: 3.0.4
info:
  title: HTML to Image
  description: >-
    HTML to Image converts HTML code into high-quality images with customizable
    dimensions and formats including PNG, JPEG, and WebP.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/htmltoimage:
    post:
      summary: Convert HTML to Image
      description: Convert HTML code to image with customizable dimensions
      operationId: htmltoimage
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  imageName: 79c8416d-8096-4524-adea-a948eb69a21e.png
                  format: .png
                  downloadURL: >-
                    https://storage.googleapis.com/apiverve/APIData/htmltoimage/79c8416d-8096-4524-adea-a948eb69a21e.png?GoogleAccessId=635500398038-compute%40developer.gserviceaccount.com&Expires=1766010253&Signature=JEtYi%2BDdd0thnSSDWLXWCAbxVJAt6gu8khy9B0UCZSM0uXYrHLv%2F07Ht97jN%2B%2BvzQg0yP0PVUzqwrfkoC4pNEUXLzdP743iCmBEsaQqtstK5OkZR0a%2F%2FSt6UmyxQ4eWCxS7DR2pY3yBYvslzzjlBgF9ASfymgzztwvpowPR7QttziwLMzJOX5aVgstMDfEuOthcCPwRsv8lVShYAQGBYk2ZVCxIQ8HrRi38VQlEG30w%2Fgh2Lo7Xd4%2FaAuvFyG3atL4PkScoemYeHNAws4EcdxDFY69jXpffs6BHrc2OQ7U9rCC7s6p1B%2BUT7ODFFheq432OXb%2BI2p3wfOGJB4dtoQQ%3D%3D
                  expires: 1766010253596
                  htmlLength: 197
                  dimensions:
                    width: 800
                    height: 600
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                html:
                  type: string
                  description: HTML code to convert
                width:
                  type: integer
                  description: Image width in pixels
                height:
                  type: integer
                  description: Image height in pixels
                format:
                  type: string
                  description: Output image format
              required:
                - html
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
sampleRequest:
  html: >-
    <html><head><style>body { font-family: Arial; padding: 20px; } h1 { color:
    #333; }</style></head><body><h1>Hello World</h1><p>This is a sample HTML
    document converted to an image.</p></body></html>
  width: 800
  height: 600
  format: png
